<a href="https://colab.research.google.com/github/yashsinghal11/Data-Science_-Theory-Coding_tutorial-/blob/main/Logistic_regression_tutorial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [11]:
df=df.drop_duplicates()
df["Gender"] = df["Gender"].map({"Male": 0, "Female": 1})

In [12]:
x=df.drop(["Purchased","User ID"],axis=1)
y=df["Purchased"]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=LogisticRegression(max_iter=10000)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [14]:
print("\n----- ACCURACY -----")
print(accuracy_score(y_test, y_pred))

print("\n----- CONFUSION MATRIX -----")
print(confusion_matrix(y_test, y_pred))

print("\n----- CLASSIFICATION REPORT -----")
print(classification_report(y_test, y_pred))

----- ACCURACY -----
0.8875

----- CONFUSION MATRIX -----
[[50  2]
 [ 7 21]]

----- CLASSIFICATION REPORT -----
              precision    recall  f1-score   support

           0       0.88      0.96      0.92        52
           1       0.91      0.75      0.82        28

    accuracy                           0.89        80
   macro avg       0.90      0.86      0.87        80
weighted avg       0.89      0.89      0.88        80

In [21]:
sample = pd.DataFrame([[1, 30, 50000]],
                      columns=['Gender', 'Age', 'EstimatedSalary'])

sample_pred = model.predict(sample)
sample_prob = model.predict_proba(sample)

print("Predicted Class:", sample_pred)
print("Probability:", sample_prob)

Predicted Class: [0]
Probability: [[0.97283511 0.02716489]]